{
  "extends" : [
    "standard"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "$": "readonly",
    "jQuery": "readonly",
    "OpenStreetMapDrawer":"readonly" 
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "quotes": "off",
    "comma-dangle": ["warning", "always"],
  }
}
